<!doctype html>
<html lang="en"
xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
th:replace="normal/base::layout(~{::section})"
>
<head>
<title>Index</title>
</head>
<body>
 <section>
 	<h2>All Contacts by : <span th:text="${cUser.name}"></span></h2>

			

	<div class="container-fluid" >
	<div class="row" th:object="${userContacts}">
		
		<div class="card mr-4 ml-4">
			
			<table class="table table-striped">
			
				<thead>
				    <tr>
				      <th scope="col">#</th>
				      <th scope="col">Name</th>
				      <th scope="col">Email</th>
				      <th scope="col">Contact</th>
				    </tr>
			 	 </thead>
			  
			  <tbody>
			  
			  	<tr th:each="contact,iterStat : ${userContacts}">
			  	<input type="hidden" th:name="${'contact.Name'+iterStat.count}" th:value="${contact.cid}">
			      <td>
			      	<img class="table_image"
				     th:if="${contact.imageURL != null}" 
				     th:src="@{'/images/'+${contact.imageURL}}"
				     alt="Card image cap">
				
					<img class="table_image"  
					th:if="${contact.imageURL == null}"
				    th:src="@{/images/defaultPic.jpg}"  alt="Card image cap">
			      </td>
			      <td><a th:href="@{/user/get-contact(contactId=${contact.cid})}"><span th:text="${contact.Name}"></span></a></td>
			      <td th:text="${contact.email}"></td>
			      <td th:text="${contact.phone}"></td>
			    </tr>
			    
			  </tbody>
			  
			
			</table>
			
		</div>
		
	</div>
	
	<!-- 		pagination -->

	<div class="pageContainer">
		<nav aria-label="Page navigation">
		  <ul class="pagination">
		    <li class="page-item">
		      <a class="page-link" href="#" th:href="${currPage == 0} ? '0' : ${currPage-1}" aria-label="Previous">
		        <span aria-hidden="true">&laquo;</span>
		      </a>
		    </li>
		    
		    <li class="page-item"
		     th:each="pg : ${#numbers.sequence(1,totalPages)}"
		     th:classappend="${pg-1 == currPage} ? 'active' : ''"
		     >
			    <a class="page-link" href="#" th:href="${pg-1}" >
			    	<span th:text="${pg}"></span>
			    </a>
		    </li>
		    
		    
		    <li class="page-item">
		      <a class="page-link" href="#" th:href="${currPage == totalPages-1} ? ${totalPages-1} : ${currPage+1}" aria-label="Next">
		        <span aria-hidden="true">&raquo;</span>
		      </a>
		    </li>
		  </ul>
		</nav>
	</div>

<!-- pagination -->
	</div>
	
	</div>
 	
 </section>
</body>
</html>