<!doctype html>
<html lang="en"
xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
>
<head>
	<link th:replace="components::bootstrap_css" />
	<script th:replace="components::bootstrap_js"></script>
	<meta charset="UTF-8" />
	<title>Welcome</title>
</head>
<body>
<nav th:replace="components::navbar('Home')"></nav>
<div class="container-fluid" th:object="${'myuser'}"></div>
	<h1>Welcome to Smart Contacts Manager</h1>
	<h2>Saved User's Name is <span th:text="${myuser.name}"></span></h2>
	<h2>Saved User's Email is <span th:text="${myuser.email}"></span></h2>
</body>
</html>