<!doctype html>
<html lang="en"
xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
th:replace="base::layout(~{::section})"
>
<head>
<title>Index</title>
</head>
<body>
	 <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
      <h1>Smart Contacts Manager</h1>
      
      <p>This is a learning Project, the main Objective of this project to create an application which stores contacts in very efficient way and provides a smarter way of handling contacts with fully Authentication and Authorization. 
	 	I have created this project using Spring Boot Thymeleaf with MVC Architecture and for Authentication and Authorization I have used Spring Security.</p>
      
      <p>Features <span class="typed" data-typed-items="Spring Boot for back-end,
      Spring Data JPA for performing Database CRUD operations,
      Spring Security for Login and Authentication,
      HTML CSS Bootstrap and Thymeleaf as template Engine for front-end,
      Bean Validation API for server side form validation
      "></span></p>
      <div class="social-links">
        <a href="https://github.com/saifffff/Contacts_Manager_App" target="_blank" class="github"><i class="bx bxl-github"></i></a>

        <a href="https://www.linkedin.com/in/saifkhancse/" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </section><!-- End Hero -->

</body>
</html>